.margin-top-40 {
    margin-top: 70px;
}

.display-text {
    color: black;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.182em;
}

.line.size-100px {
    width: 100px;
}

.mg-bottom-28px {
    margin-bottom: 28px;
}

.line {
    width: 180px;
    height: 2px;
    min-height: 2px;
    background-color: #cf2e2e;
}

.text-100.medium {
    font-weight: 500;
}

.text-uppercase {
    color:#4b5b70;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.text-100 {
    font-size: 16px;
    line-height: 1.125em;
}
.margin-left-10{
    margin-left: 13px;
    margin-top: 40px;
}
.heading-h4-size {
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.273em;
}

.heading-h4-size:hover {
    color: #cf2e2e;
}

.article-new:hover{
    transform: translate3d(0px, 0px, 0px) scale3d(1.06, 1.06, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.article-new{
    max-width: 100%;
    display: inline-block;
}
.divider.mg-30px---62px {
    margin-top: 30px;
    margin-bottom: 62px;
}

.divider {
    height: 1px;
    background-color: #e5e8ec;
    margin-top: 20px;
    margin-bottom: 20px;
}

.svg-ic {
    color: #cf2e2e;;
    font-size: 50px;
}

.svg-ic:hover {
    color: black;
    font-size: 50px;
}