.display-1 {
    color: black;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.098em;
}

.display-p {
    color: #4b5b70;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667em;
    margin-left: 45px;
    margin-top: 30px;
}
.image-cov {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: -49px -43px 1px 1px #cf2e2e;
    flex: 1;
}

.opp-content{
    color: #4b5b70;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667em;
    margin-top: 30px;
}

.custom-btn{
    border-radius: 0px !important;
    text-transform: uppercase;
}
.margin-top-10{
    margin-top: 10px;
}

#opportunities .img-11-class{
    box-shadow: 53px -39px 2px 1px #000;
}