#research .img-11-class{
    box-shadow: 53px -39px 2px 1px #000;
}

.display-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.img-re-class{
    max-height: 366px;
    max-width: 516px;
}
.image-cov{
    max-height: 500px;
    max-width: 1250px; 
}

.margin-top-32{
    margin-top: 32px;
}

.bg-grey{
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 50px !important;
}