.image-cover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex: 1;
    transition: 0.3s;
}

.image-cover:hover {
    transform: scale(1.1);
}

.img-wrapper {
    overflow: hidden;
}
.line .size-52px .grow {
    max-width: 52px;
}
.line {
    width: 180px;
    height: 2px;
    min-height: 2px;
    background-color: #cf2e2e;
}
.prof-name:hover{
    cursor: pointer;
    color:#cf2e2e;
}
.prof-name{
    font-size: 18px;
}
.text-uppercase{
    font-size: 13px;
}
.margin-bottom-35{
    margin-bottom: 35px;
}