.subtitle {
    color: #cf2e2e;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.111em;
}

.margin-top-40 {
    margin-top: 70px;
}

.card-con- {
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.417em;
}

.card-bod {
    color: #333333 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667em;
}

.shadow-02 {
    box-shadow: 0 2px 12px 0 #14142b14;
}

.display-c {
    color: #cf2e2e;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.533em;
}

.bg-red {
    width: 100%;
    padding: 180px;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../../images/ug-program.jpg) center center no-repeat;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}
@media (max-width: 767px) {
  .bg-red {
    padding:10px;
    width: 100%;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../../images/ug-program.jpg) center center no-repeat;
    background-color: #e5e5e5;
  }
}

.h1-content {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.222em;
}

.p-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
}

.display-data {
    color: #000;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.182em;
}

.major-bg-red {
    width: 100%;
    padding: 180px;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../../images/major-ug.jpg) center center no-repeat;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}
@media (max-width: 767px) {
  .major-bg-red {
    padding:10px;
    width: 100%;
    background:  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../../images/major-ug.jpg) center center no-repeat;
    background-color: #e5e5e5;
  }
}
.explore-programs-card-content {
    padding: 10px 15px 25px;
}
.shadow-02 {
    box-shadow: 0 2px 12px 0 #14142b14;
}
.card-cont{
    color: #333333;
    font-family: Satoshi, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667em;
}


  /* tpn card style */
.demo_title h1,h6{
    color:#15151C;
  }


  .tpn_card{
    background: #f8f9fa;
    padding: 23px;
    border-radius:27px;
  }
  
  .tpn_card img{
    border-radius:23px;
    box-shadow: 1px 7px 13px #C5C5CC;
  }
  
  .tpn_card h5{
    color: #35353C;
  }
  
  .tpn_card p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.5em;
    color: #333333;
  }
  
  .tpn_card .tpn_btn{
    margin-top: 15px;
    padding:13px 27px !important;
    line-height: normal;
    background: #35353C;
    border-radius:17px;
    text-decoration:none;
    color: #FFF;
    box-shadow: 1px 7px 13px #C5C5CC;
    transition: all .7s ease;
  }
  
  .tpn_card .tpn_btn:hover{
    background:#cf2e2e;
    box-shadow: none;
  }
  